.board {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    width: 100vw;
    height: 100vh;
}

.left-column,
.right-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.1rem;
}

.right-column {
    transform: scale(-1);
}


.left-column>div,
.right-column>div {
    grid-column: 2;
    border: 0.3rem solid #33dbf8;
    background-color: #192594;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}


.left-column>.icon-arrow,
.right-column>.icon-arrow {
    grid-column: 1;
    grid-row: 3;
}

.right-column>.icon-arrow,
.left-column>.icon-arrow {
    grid-column: 1;
    grid-row: 3;
}

.right-column>div {
    grid-column: 2;
    border: 0.3rem solid #33dbf8;
    background-color: #192594;
}



.center-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.board-top,
.board-bottom {
    display: grid;
    grid-template-columns: repeat(5, calc(100vw / 9));
    grid-template-rows: repeat(2, calc(100vh / 7));
}

.card-slot {
    border: 0.3rem solid #33dbf8;
    background-color: #192594;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
}