 body {
   display: flex;
   flex-flow: column;
   gap: 0.1rem;
   min-height: 100vh;
   padding: 2rem;
   border: 0.3rem solid #33dbf8;
   background-color: #192594;
 }

 .topbar-up {
   color: white;
   padding: 10px;
   text-align: center;
   flex: 1;
  border: 0.3rem solid #33dbf8;
 }

 .topbar-down {

   color: white;
   padding: 10px;
   text-align: center;
   flex: 0.5;
   margin: 1rem;
  border: 0.3rem solid #33dbf8;
 }

 .content {

   padding: 20px;
   flex: 4;
   margin: 1rem;
  border: 0.3rem solid #c837ec;
 }

 .footer {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 0.2rem;
   gap: 1rem;
   border: 0.3rem solid #33dbf8;

 }

 .footer-up {

   color: white;
   padding: 10px;
   text-align: center;
   flex: 3;

    border: 0.3rem solid #c837ec;
 }

 .footer-down {

   color: white;
   padding: 10px;
   text-align: center;
   flex: 0.1rem;

   border: 0.3rem solid #c837ec;

 }