body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.topbar-up {
  background-color: #f00c0c;
  color: white;
  padding: 10px;
  text-align: center;
  flex: 1;
    margin: 1rem;
}

.topbar-down {
  background-color: #e4e70f;
  color: white;
  padding: 10px;
  text-align: center;
  flex: 1;
   margin: 2rem;
}

.content {
    background-color: #5ee70f;
  padding: 20px;
    flex: 4;
    margin: 1rem;
}
.footer {
    flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 0.5rem solid #000;

}
.footer-up {
  background-color: #24aad3;
  color: white;
  padding: 10px;
  text-align: center;
  flex: 3;
   margin: 1rem;
}

.footer-down {
  background-color: #2522ec;
  color: white;
  padding: 10px;
  text-align: center;
  flex: 1;
   margin: 1rem;

}