<div class="topbar">
<p>{{ authService.currentUser().role | uppercase }}</p>
<p>{{ authService.currentUser().role | lowercase }}</p>
<p>{{ roles | titlecase }}</p>
  <button (click)="authService.toggleRole()">Rol: {{ authService.currentUser().role }}</button>
</div>
<div class="container">
  <div class="sidebar" [class.collapsed]="!sidebarVisible()">
    <button *appHasRole="'admin'" (click)="toggleSidebar()">Toggle Sidebar</button>
  </div>
  <div class="content">
    <div class="content-topbar"> </div>
    <div class="content-topbar2"> </div>
    <div class="grid">
      <div class="card"></div>
